    <!-- Javascript -->          
    <script type="text/javascript" src="{{ .Site.BaseURL }}assets/plugins/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{ .Site.BaseURL }}assets/plugins/bootstrap/js/bootstrap.min.js"></script>    
    <!-- custom js -->
    <script type="text/javascript" src="{{ .Site.BaseURL }}assets/js/main.js"></script> 

    <!-- Google tag (gtag.js) -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-6V8FZTPY5E"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-6V8FZTPY5E');
    </script> -->